<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Like a Sailor</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Like a Sailor</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="iTunes" role="button">iTunes</a>
			<a class = "btn btn-lg btn-success" href ="spotifyplaylist" role="button">Spotify</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-30">
                <h4 align="center">"You're out of the will!"</h4>
                <p align="center">- Grandma Opal upon hearing Fetty Wap's "Trap Queen" on James' 'Summer Rager' playlist.</p>
 
                <h4 align="center">"What does Young Thug mean by 'ride in that pussy like a stroller' mean?"</h4>
                <p align="center">- Jenny, age 4, while "There's Gonna Be (Good Times)" played at the family reunion.</p>
 
                <h4 align="center">"I don't know what truffle butter is, but it's making me hungry!"</h4>
                <p align="center">- Jeff's dad at Jeff's 15th birthday party, in front of all his friends.</p>
            </div>
			<br>
            <div class="col-lg-16">
                <h1 align="center"><b>Don't let this be you.</b></h1>
                <p align="center">Vet your playlists with Like A Sailor.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Andrew Osentoski 2015</p>
        </footer>
 
    </div>
</body>
 
</html>
